<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="something" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="DuDu" />
    <!-- <base target="_blank"/> -->

    <!-- icon region -->
    <link rel="shortcut icon" href="" />
    <link rel="bookmark" href="" />

    <!-- google font 的設定  放在 stylesheet前面-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
      rel="stylesheet"
    />
    <!-- google font 的設定  end -->

    <!-- CSS設定 -->
    <link rel="stylesheet" href="./style.css" />
    <title>Respond</title>
  </head>
  <body>
    <h1> Tahnks for submitting the form.</h1>
    <h1>Here's your submission:</h1>
    <p>Your name: <%=fullname%></p>
    <p>Your age: <%=age%></p>
  </body>
  <script src="./app.js"></script>
</html>